<div *ngIf="item != undefined">
  <button (click)="deleteItem(item.boardItemId)" class="mood-item-button mt-2 text-red-500">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
        stroke-linecap="round"
        stroke-linejoin="round"/>
    </svg>
  </button>
  <div class="py-2 mt-2 border-b-2 border-zinc-600">
    <p *ngIf="item.title">
      <span class="font-bold">Title:</span>
      {{item.title}}
    </p>
    <p *ngIf="item.position">
      <span class="font-bold">Position:</span>
      X: {{item.position.x | number: '1.0-2':'fr-FR'}} Y: {{item.position.y | number: '1.0-2':'fr-FR'}}
    </p>
    <p *ngIf="item.size">
      <span class="font-bold">Size:</span>
      Width: {{item.size.x | number: '1.0-2':'fr-FR'}} Height: {{item.size.y | number: '1.0-2':'fr-FR'}}
    </p>
    <p *ngIf="item.rotation">
      <span class="font-bold">Rotation:</span>
      {{item.rotation | number: '1.0-2':'fr-FR'}}
    </p>
    <div *ngIf="item.note">
      <span class="font-bold">Note:</span>
      <p class="break-words text-sm">{{item.note}}</p>
    </div>

  </div>
  <app-item-comments [comments]="item.comments" [itemId]="item.boardItemId"></app-item-comments>
</div>
