<p *ngIf="board == undefined" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
  Create new board by giving it a name and description.
</p>
<div *ngIf="errorMessages != undefined && form.submitted" class="bg-red-400 rounded text-center mt-4 p-2">
  <h2 class="font-bold">Error!</h2>
  <p *ngFor="let error of errorMessages" class="text-sm">{{error}}</p>
  <p class="text-sm">Please try again!</p>
</div>
<form #form="ngForm" (ngSubmit)="boardForm.valid && submitForm()" [formGroup]="boardForm" action="#" class="mt-4">
  <div *ngIf="boardForm.invalid && (boardForm.touched || boardForm.dirty)" class="text-sm text-red-600">
    <div *ngIf="name.errors?.['required'] && name.touched">Name is required.</div>
    <div *ngIf="name.errors?.['maxlength'] && name.touched">Name must be at maximum 200 characters in length.</div>
    <div *ngIf="description.errors?.['required'] && description.touched">Description is required.</div>
    <div *ngIf="description.errors?.['minlength'] && description.touched">Description must be at maximum 500 characters
      in length
    </div>
  </div>
  <div class="block mt-3">
    <label class="sr-only" for="name"></label>
    <input class="mood-input" formControlName="name" id="name" name="name" placeholder="Name" type="text"/>
  </div>

  <div class="block mt-3">
    <label class="sr-only" for="description"></label>
    <textarea class="mood-input" formControlName="description" id="description" name="description"
              placeholder="Description"></textarea>
  </div>


  <button [disabled]="!boardForm.valid" class="mood-button bg-sky-800 hover:bg-sky-700 focus:bg-sky-700 mt-3"
          type="submit">
    <svg *ngIf="isSubmitting" class="inline mr-1 w-4 h-4 text-white animate-spin" fill="none" viewBox="0 0 100 101"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="#E5E7EB"/>
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentColor"/>
    </svg>
    <span *ngIf="!isSubmitting && board == undefined">Create board</span>
    <span *ngIf="!isSubmitting && board != undefined" #editBoardSpan>Edit board</span>
  </button>
</form>
