<div *ngIf="this.boardService.board != null" class="flex justify-between text-white py-5">
  <h1 class="text-2xl font-bold text-white capitalize lg:text-3xl">{{this.boardService.board.name}}:</h1>
  <div class="inline-flex gap-3">

    <button (click)="openModal('delete-board')" *ngIf="this.boardService.board.isOwner" class="mood-board-button bg-red-600 hover:bg-red-500 focus:ring-red-300"
            title="Delete board">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>

    <button (click)="openModal('edit-board')" *ngIf="this.boardService.board.isOwner" class="mood-board-button bg-yellow-600 hover:bg-yellow-500 focus:ring-yellow-300"
            title="Edit board">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>

    <button (click)="openModal('members-list')" *ngIf="this.boardService.board.isOwner" class="mood-board-button bg-blue-600 hover:bg-blue-500 focus:ring-blue-300"
            title="Manage members">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

    </button>

    <button (click)="openModal('items-list')" class="mood-board-button bg-violet-600 hover:bg-violet-500 focus:ring-violet-300"
            title="Item list">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

    </button>

    <button (click)="openModal('create-item')" class="mood-board-button bg-green-600 hover:bg-green-500 focus:ring-green-300"
            title="Create item">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    </button>
  </div>

</div>
<div class="w-full fixed inset-x-0" id="container"></div>

<app-modal modalId="delete-board" title="Are you sure?">
  <app-board-delete-prompt></app-board-delete-prompt>
</app-modal>
<app-modal modalId="edit-board" title="Edit board">
  <app-board-form [board]="this.boardService.board"></app-board-form>
</app-modal>
<app-modal modalId="members-list" title="Manage members">
  <app-board-members></app-board-members>
</app-modal>
<app-modal modalId="items-list" title="Item list">
  <app-board-item-list (itemSelected)="showItem($event.boardItemId)"></app-board-item-list>
</app-modal>
<app-modal modalId="create-item" title="Create new item">
  <app-board-item-form></app-board-item-form>
</app-modal>
<app-modal modalId="item-info" title="Item information">
  <app-board-item *ngIf="selectedItem" [item]="selectedItem"></app-board-item>
</app-modal>
<app-modal modalId="create-item-prompt" title="There are no items!">
  <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
    There are no items in this board! Create one!
  </p>
  <button (click)="openModal('create-item')"
          class="mood-button bg-green-600 mt-3" type="submit">
    <span>Create new item</span>
  </button>
</app-modal>
